.logo{
    height: 63px;
    width: 100%;

}
.bellIcon{
    color : white;
    display: inline-flex;
    justify-content: flex-end;
    padding-left: 60rem;
}

a {
	color: #69C;
	text-decoration: none;
}
a:hover {
	color: #F60;
}

p {
	margin: 0 0 20px;
}


input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 0px 0px 0px 30px;
	width: 8%;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	transition: all .25s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

.resultsBarDivtop{
	display: flex;
	margin-top: 20px;
   /* justify-content: space-between; */
 }

 .searchInput{
	background: aliceblue;
	height: fit-content;
	width: 22%;
	border-radius: 20px;
	margin-left: 3%;
	
 }